{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

{# {% if app.user == true %}
    <p>Connecté en tant que: {{ app.user.login }}</p>
{% else %}
    <a href="/register">S'inscrire</a>
{% endif %}
<a href="{{ app.user ? 'logout' : 'login'}}"> {{ app.user ? 'Se Déconnecter' : 'Se Connecter' }}</a> #}

    
{% endblock %}
