includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - src/Security
        - src/DataFixtures

    ignoreErrors:
        - '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+ is never written, only read.#'
        - '#^Parameter.*(User).*(UserInterface).*#'
        - '#^Call to an undefined .*(UserInterface).*#'

    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
