includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    excludePaths:
    - src/Security
    ignoreErrors:
        -
          message: '#Property [a-zA-Z0-9\\_]+::\$ficheDegustations is never written, only read.#'
          path: src/Entity/*
        - "#^Parameter.*(User).*(UserInterface).*#"
        - "#^Call to an undefined .*(UserInterface).*#"
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
