{% extends 'base.html.twig' %}

{% block title %}Animation index{% endblock %}

{% block body %}
    <h1 class="titre">Les ateliers</h1>
    {% for animation in animations %}
        <img src="{{ animation.image }}">
        <h2 class="soustitre">{{ animation.name }}</h2>
        <p class="resume">{{ animation.description }}</p>
        <form action="/panier" method="get">
            <button class="cta"type="submit">Ajouter au panier</button>
        </form>
    {% endfor %}
{% endblock %}