{% extends 'base.html.twig' %}

{% block title %}Faq index{% endblock %}

{% block body %}
    <h1>Foire aux questions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Réponse</th>
            </tr>
        </thead>
        <tbody>
        {% for faq in faqs %}
            <tr>
                <td>{{ faq.question }}</td>
                <td>{{ faq.answer }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
