{% extends 'base.html.twig' %}

{% block title %}Faq index{% endblock %}

{% block body %}
    <h1 class="h1questions">Questions fréquentes:</h1>
    <div class="divQuestionReponse">
        {% for faq in faqs %}
                <div class="divtext">
                        <b><p class="topQuestion ptext">{{ faq.question }}</p></b>
                </div>
                <div class="divtext" >
                        <p class="bottomAnswer ptext">{{ faq.answer }}</p>
                </div>
        {% else %}
                <div class="carre">
                <h2 class="connexion">Section vide pour le moment</h2>
                </div>
        {% endfor %}
        </div>
{% endblock %}
