body {
    font-family: var(--font);
    background-color: var(--couleur-fonce);
}

/*------------------- NavBar -----------------*/
.navBackoffice {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: sticky;
    top: 30%;
}

.stickyTest {
    position: sticky;
    top: 200px;
}

.ulBackoffice {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.divNavAndBody {
    display: flex;
    height: 100%;
}

/*------------------- FAQ -----------------*/

.blogDivBody {
    display: flex;
    flex-direction: column;
}

.blogDivBody a {
    color: var(--couleur-claire);
}

.blogDivBody h1 {
    color: var(--couleur-tierce);
}

.blogDivBody b {
    color: var(--couleur-tierce);
}

.blogDivBody p {
    color: var(--couleur-claire);
}

.blogDivBody form {
    display: inline-block;
}

.blogHr {
    width: 20%;
    align-self: center;
    margin-bottom: 2em;
}

.divShowEdit {
    margin-top: 1em;
    margin-bottom: 2.5em;
}

.blogDivBody img {
    width: 200px;
    height: auto;
}