.sk-title{
    margin-top: 10%;
    color: white;
    text-align: center;
}

// Global
.sk-container{
    width: 70%;
    margin-top:2%;
    margin-left: auto;
    margin-right: auto;
}

//alert
.alert-sk-alert{
    background-color: var(--couleur-tierce);
    margin-bottom: 10%;
}
     
// Caroussel
.sk-carousel{
    background-color: var(--couleur-claire);
    border-radius:10px;
}
.sk-picture-carousell{
    width: 400px;
}
.sk-detail{
    color: var(--couleur-claire);
}

.sk-button-caroussel{
    background-color: var(--couleur-tierce);
    color: var(--couleur-claire);
    width: 300px;
    border-radius: 70px;
    padding: 3% 10%;
    margin-bottom: 2%;
    border: none;
}

.sk-button-caroussel:hover{
    background: #e0115f;
    text-decoration: none;
}

.sk-quantite-caroussel{
    color: var(--couleur-claire);
    width: 50%;
    border-radius: 70px;
    padding: 3% 10%;
    border: none;
}

.sk-button-slide:hover{
    background-color: initial;
    color: var(--couleur-tierce);
}

// divider
.sk-divider {
    width: 80%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 6px;
    background-color: var(--couleur-tierce);
}

//Card
.sk-card{
    background-color: var(--couleur-claire);
    height: 60vh;
    width: 40vh;
    transition: transform 0.5s ease;
}

.sk-cardbody{
    width: 30vh;
}


.sk-card-title{
   color: black;
}

.sk-picture-shop{
    width: 150px;
    transition: transform 0.5s ease;
}

.sk-picture-shop:hover{
    transform: scale(1.2);
}

.sk-form{
    margin-top: 50px;
    width: 110%;
}

.sk-button{
    background-color: var(--couleur-tierce);
    color: var(--couleur-claire);
    border-radius: 70px;
    margin-left: 0;
    padding: 3% 10%;
    border: none;
}

.sk-button:hover {
    background: #e0115f;
    text-decoration: none;
}

.sk-quantity{
    margin-top: 2%;
}

.sk-quantity input {
    width: 50px;
    height: 30px;
    font-size: 14px;
}

.paginator{
    margin-top: 5%;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
