.title{
    color: white;
    margin-left: 10%;
    margin-bottom: 5%;
}

.section{
    display: flex;
    width: 80%;
}

.card{
    background-color: var(--couleur-claire);
    border-radius: 10%;
    width:80%;
    height: 50vh;
}

.picture{
    width:500%;
}