.foot{
font-family: var(--font);
background-color: var(--couleur-claire);
margin-top: 6%;
padding: 2% 3%;
}

h5{
color:var(--couleur-fonce);
margin-bottom: 2%;
}

.container{
margin: 0 auto;
}
  
.rowa {
display: flex !important;
flex-wrap: wrap !important;
}

.copy{
text-align: center;
color: var(--couleur-fonce);
font-size: small;

}

.rowas{
justify-content: space-around !important;
color: var(--couleur-fonce) !important;
list-style: none !important;
margin-left: 20% !important;
height: 20px !important;
} 

.rowas a{
text-decoration: none;
color: var(--couleur-fonce);
}

.colornotice{
    color: var(--couleur-fonce);
}

.contact{
    margin-bottom:5%;
}

.abus{
    margin-top: 15%;
    color: var(--couleur-fonce);
    font-size: small;
    text-align: center;
}