footer{
font-family: var(--font);
background-color: var(--couleur-claire);
margin-top: 5%;
padding: 2% 3%;
}

h5{
color:var(--couleur-fonce);
margin-bottom: 2%;
}

.container{
margin: 0 auto;
}
  
.row {
display: flex;
flex-wrap: wrap;
}

.copy{
text-align: center;
color: var(--couleur-fonce);
font-size: small;

}

.rows{
justify-content: space-around;
color: var(--couleur-fonce);
list-style: none;
margin-left: 20%;
height: 20px;
} 

.rows a{
text-decoration: none;
color: var(--couleur-fonce);
}

.colornotice{
    color: var(--couleur-fonce);
}

.contact{
    margin-bottom:5%;
}

.abus{
    margin-top: 15%;
    color: var(--couleur-fonce);
    font-size: small;
    text-align: center;
}