.vgH2MentionsLegales {
    color: var(--couleur-tierce);
    margin-top: 30px;
    margin-bottom: 30px;
}

.vgToph2 {
    margin-top: -8vh;
}

.vgBodySpanMentions {
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
}

.vgPMentions {
    text-align: justify;
    color: var(--couleur-claire);
    line-height: 22px;
}