.content{
    color: white;
    font-family: var(--font), sans-serif;
    width: 80%;
    margin: auto
}

/* CTA atelier */
.sk-atelier {
    text-align: center;
    margin-bottom: 10%;
}

.sk-atelier h2 {
    margin-bottom: 5%;
}

.sk-cta-atelier {
    background-color: var(--couleur-tierce);
    color: var(--couleur-claire);
    border-radius: 70px;
    padding: 3%;
}

.title{
    text-align: center;
    margin-bottom: 5%;
    font-size: 5em;
    text-decoration: underline;
}

.titlesection{
    margin-left: 10%;
    font-size : 2.5em;
    margin-bottom: 5%;
}

/* divider */
.sk-divider-profil {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    height: 3px;
    background-color: var(--couleur-tierce);
}

/* table */
.sk-custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--couleur-claire);
}

.sk-custom-table th, .sk-custom-table td {
    padding: 8px;
    border: 1px solid var(--couleur-claire);
    background-color: var(--couleur-tierce);
}

.sk-custom-table th {
    font-weight: bold;
    text-align: left;
    background-color: var(--couleur-tierce);
}

/* icon trash */
.sk-trash:hover{
    background-color: var( --couleur-fonce);
}
