.sk-table{
    background-color: var(--couleur-claire);
    border-radius: 10px;
}

.sk-cell{
    padding: 1%;
}

.sk-picture{
    width:100px;
}
.sk-cell-total{
    padding-bottom: 1%;
}

.sk-border{
    border-bottom: 1px solid var(--couleur-tierce);
}

.sk-product{
    width: 200px;
}

.sk-button-card{
    color: var(--couleur-tierce);
    transition: transform 0.5s ease;
}

.sk-button-card:hover{
    color: var(--couleur-tierce);
    transform: scale(1.5);
}

.sk-checkout{
    background-color: var(--couleur-tierce);
    color: var(--couleur-claire);
    width:20%;
    text-align: center;
    border-radius: 70px;
    margin-top: 5%;
    padding: 2%;
    border: none;
}

.sk-checkout:hover {
    background: #e0115f;
    text-decoration: none;
}