.nomanimation{
    margin-left: 10%;
    color: var(--couleur-claire);
    text-transform : uppercase;
}

.showatelier {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    padding: 5%;
    overflow-x: hidden; 
  }

  .img{
    margin-right: 700px;
   
  }

  .phototxtcta {
    display: flex;
    align-items: flex-start;
  }
  
  .image-container {
    width: 200%;
    margin-right: 10px; 
  }
  
  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--couleur-claire);
  }
  
  .desc {
    color: var(--couleur-claire);
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
  .prix {
    color: var(--couleur-claire);
    margin-top: 3%;
  }

.nombrepersonne{
  margin-top: 5%;
  margin-bottom: 5%;
}
