{% block content %}
<nav>
    <ul>
        <li><a href="" class="liennav">ACCUEIL</a></li>
        <li><a href="" class="liennav">ATELIERS</a></li>
        <li><a href="" class="liennav">BOUTIQUE</a></li>
        <li><a href=""class="liennav">CONTACT</a></li>
        <li><a href="" class="liennav">PANIER</a></li>
    </li>
</ul>
</nav>
{% endblock %}