{% block content %}
<link rel="stylesheet" href="{{ asset('/styles/footer.css') }}"/>

<footer>
    <div class="container">
    <div class="row">
            <div class="rows">
                <h5>Nous contacter</h5>
                    <p>25 rue du vin</p>
                    <p>48 000 Lozère, France</p>
                    <p>Téléphone : 07 50 70 48 12</p>
                    <p>Email : inovin@gmail.com</p>
            </div>
                <div class="rows">
                    <h5>Plan du site</h5>
                    <li><a href="" class="liennav">ACCUEIL</a></li>
                    <li><a href="" class="liennav">ATELIERS</a></li>
                    <li><a href="" class="liennav">BOUTIQUE</a></li>
                    <li><a href=""class="liennav">CONTACT</a></li>
                    <li><a href="" class="liennav">PANIER</a></li>
                </div>
              </div>
            </div>
    <div class="legalnotice">
        <a class="colornotice" href="legalnotice" target="_blank">Mentions légals</a><br>
        <a class="colornotice" href="#" target="_blank">CGV</a>
    </div>
    <p class="copy">&copy; 2023 Inovin Tous droits réservés.</p>
</footer>
{% endblock %}