{% block content %}
<nav>
    <img class="img-logo" src="{{ asset('build/images/Logo.png') }}" style="width: 10%;">
    <ul>
        <li><a href="" class="liennav">ACCUEIL</a></li>
        <li><a href="" class="liennav">ATELIERS</a></li>
        <li><a href="" class="liennav">VIN/VIN</a></li>
        <li><a href="" class="liennav">BOUTIQUE</a></li>
        <li><a href=""class="liennav">CONTACT</a></li>
        <li><a href="" class="liennav">PANIER</a></li>
        
        {% if app.user == false %}
        <li>
            <a href="/connection" class="liennav">CONNEXION</a>
        </li>
        {% endif %}
        <li>
            <div class="navbar">
                <div class="dropdown">
                    {% if app.user == true %} 
                        <button class="dropbtn">
                            {{ app.user.login }}
                        </button>
                    <div class="dropdown-content">
                        <a href="#">Profil</a>
                    </div>
                    <div class="dropdown-content">
                        <a href="/logout">Déconnexion</a>
                    </div>
                {% endif %}
                </div>
            </div>
        </li>
    </ul>
</nav>
{% endblock %}